*{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #000a16 , #003a79);
  background-color: #01152b;
  text-align: center;
  word-wrap: break-word;
}

body{
  margin: 0;
  padding: 0;

}

.container {
  background: #fff;
  padding: 2rem;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 30px;
}


.container h1{
  font-size: 60px;
  text-align: center;
  color: #000408;
  font-weight: 20;
  text-align: center;
  display: block;
}

h1 {
  font-size: 22px;
  font-family:'Pacifico', cursive; 
  color: #181821;
  padding-left: 20px;
  display: flex; 
  align-items: center;
  text-align: center;
}
h1 img{
  margin-right: 7px;
}

.input-box {
  position: relative;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  display: block;
  font-size: 17px;
  color: rgb(66, 66, 66);
  margin-bottom: 0.5rem;
}

input , select, textarea{
  width: 70%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}


.submit {
  width: 40%;
  padding: 0.8rem;
  background-color: #002c5b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.submit:hover {
  background-color: #000000;
}

.submit:active {
  background-color: #004080;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav{
  width:100%;
  position: fixed; 
  display: flex;
  backdrop-filter:blur(20px);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-image:linear-gradient(to right,rgb(129, 123, 181), rgb(53, 50, 149));
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px rgba(22, 22, 67, 0.253);

}

.nav .link{
  text-decoration: none;
  color:#f1f1fa;
  margin: 10px;
  padding-right: 1em;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.nav .link::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #f1f1fa;
  border-radius: 3px;
  transition: .5s ease-in-out;
  transform:scalex(0);
  
}

.nav .link:hover:after{
  transform: scaleX(1);
}

a.active .link{
  color: #033ccd;
}

a.active .link::after{
  transform: scaleX(1);
  background-color:#f1f1fa;
  height: 4px;
}

#lists-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 60px; 
  padding: 50px;
  width: fit-content;
}

#lists-section{
  margin-top: 80px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.add-button {
  background-color: #ffffff; 
  border: none; 
  color: #18181f;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-flex; 
  align-items:center; 
  justify-content: center;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  font-size: 25px;
  font-weight: 550;
  gap:10px;
}

.cont .add-button{
  font-weight: 500;
  font-size: 18px;

}

.task span {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
}



.task button {
  background:transparent;
  border: none;
  color: rgb(46, 46, 82);
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task button:hover + img {
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.task hr {
  border: none;
  border-top: 1px solid rgb(46, 46, 82);
  margin: 10px 0 0 0;
  width: 100%;
}

.cont{
  background: #fff;
  padding: 1rem 0.2rem 1rem 0.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(22, 22, 67, 0.523);
  width:max-content;
  width: 300px;
  display: flex;
  flex-direction: column; 
  gap: 0.1rem; 
  justify-content: flex-start; 
  align-items: stretch; 
  height: fit-content;
}
.cont .add-button{
  font-size:15px;
}

.task {
  border-radius: 3px;
  padding: 0.5rem;
  max-width: 250px;
  width: 100%;
  box-sizing: border-box; 
  display: grid;
  grid-template-columns: auto 90% auto; 
  align-items: center; 
  transition: box-shadow 0.3s ease;
}
.task input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #5164a7;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.task input[type="checkbox"]:checked {
  background-color: #92a4e8;
  border-color: #2a4196;
  position: relative;
}

.task input[type="checkbox"]:checked::before {
  content: "✓";
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}

h3{
  text-align: center;
  font-size: 25px;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 500;
  word-wrap: break-word;
  padding:0 1rem 0 1rem;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div{
  margin: 100px 0 0 0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
#contact-form{
  width:min-content;
}
.form-div *{
  margin:10px;
}

.form-div div{
  width: 100%;
  margin:0;

}

.center .submit{
  width:max-content;
  padding:10px 20px;
  font-size: 20px;
  background-color: rgb(53, 50, 149);
}

textarea{
  height: 200px;
  min-width: 500px;
  width:90%;
  text-wrap:wrap;
}

.form-div p{
  font-size: 25px;
}